{% extends 'base.html'%}

<!--Page Title-->
{% block title %} | Issue Tracker {% endblock %}

<!--Block content-->
{% block content %}


<h1>Issue Tracker</h1>

<div class="row">

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h2>Features</h2>
      </div>
      <div class="card-body">
        <div class="row">
          {% for feature in features%}
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{feature.name}}</h5>
                <p class="card-text">{{feature.description}}</p>
                <a href="{% url 'upvote_ticket' ticket_id=feature.id %}" class="btn btn-primary">Support</a>
                <a href="{% url 'view_ticket' ticket_id=feature.id %}" class="btn btn-primary">View</a>
              </div>
            </div>
          </div>
          {% empty %}
          <div class="col-12">There are no new featueres requestsed at this time!</div>
          {% endfor %}
        </div>
      </div>
      <div class="card-footer text-center">
        <a href="{% url 'add_ticket' ticket_type='F' %}" class="btn btn-primary">Request new</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h2>Bugs</h2>
      </div>
      <div class="card-body">
        <div class="row">
          {% for bug in bugs%}
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{bug.name}}</h5>
                <p class="card-text">{{bug.description}}</p>
                <a href="{% url 'upvote_ticket' ticket_id=bug.id %}" class="btn btn-primary">Report</a>
                <a href="{% url 'view_ticket' ticket_id=bug.id %}" class="btn btn-primary">View</a>
              </div>
            </div>
          </div>

          {% empty %}
          <div class="col-12">There are no Bugs at this time!</div>
          {% endfor %}
        </div>
      </div>
      <div class="card-footer text-center">
        <a href="{% url 'add_ticket' ticket_type='B' %}" class="btn btn-primary">Report new</a>
      </div>
    </div>
  </div>

</div>

{% endblock %}
