{% extends 'base.html'%}

<!--Page Title-->
{% block title %} | Ticket {% endblock %}

<!--Block content-->
{% block content %}
<div class="row py-2 my-3">
    <div class="col-lg-8 offset-lg-2 bg-dark p-3 text-light shadow ">

        <div class="row">
            <div class="col-12">
                <h2>{%if ticket.ticket_type == "F"%} Requested Feature: {%elif ticket.ticket_type == "B"%} Reported Bug: {% endif %}"{{ ticket.name }}"</h2>
                <div class="p-4 mb-2 border border-secondary bg-light text-dark">
                    <p class="m-0">{{ ticket.description }}</p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                {% if ticket.ticket_type == "F" %}Total contributions{% else %}Upvotes{% endif %}: {{ticket.contibutions}}
            </div>
            <div class="col-6 text-right">
                Current progress: {{ticket.progress}}%
            </div>


            <div class="col-12 mt-3 d-flex justify-content-center">
                <div class="btn-group" role="group" aria-label="Basic example">
                    {% if is_owner %}
                    <a href="{% url 'edit_ticket' ticket_id=ticket.id %}" class="btn btn-primary px-3 mr-1">Edit</a> {% endif %}


                    <a href="{% url 'upvote_ticket' ticket_id=ticket.id %}" class="btn btn-primary px-3 mr-1">{% if ticket.ticket_type == 'F' %} Contribute {% else %} Report {%endif%}</a>
                    <a href="{% url 'tracker' %}" class="btn btn-primary px-3">Back</a>
                </div>
            </div>
        </div>



    </div>
</div>

{% endblock %}
