{% extends "base.html" %} {% block title %}| Password reset successful{% endblock %} {% block content %}

<div class="row my-5">
    <div class="col-12 col-md-8 offset-md-2">
        <div class="alert alert-success" role="alert">
            <h2 class="alert-heading">Password reset sent</h2>
            <p class="lead">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <hr>
            <p class="lead">If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
        </div>
    </div>
</div>
{% endblock %}
