html {
    background-color: #f8f9fa;
}

body {
    background-color: #fff;
}

.text-box {
    background-color: #eee;
    color: black;
    padding: 2em;
    border-radius: 5px;
}

.card-title {
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
}

.chart {
    height:300px;
}

.chart-heading{
    display: block;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    overflow: hidden;
}

.chart>div {
    height: 250px;
    display: flex;
    align-items: center;
}