{% extends "base.html" %} {% load static from staticfiles %} {% load bootstrap_tags %}

<!--main block-->
{% block content%}
<form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
    <legend>Payment Details</legend>
    <div id="credit-card-errors" style="display:none">
        <div class="alert alert-danger alert-message block-message error" id="stripe-error-message" role="alert"></div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            {{ order_form|as_bootstrap }}
        </div>

        <div class="col-md-6">
            <div class="form-group">
                {{ payment_form|as_bootstrap }}
            </div>

            <div class="form-group p-2 mt-2">
                <label for="id_amount">Amount</label>
                <input type="number" step="0.01" name="amount" id="id_amount" placeholder="0.00" required/>
            </div>
        </div>
        
        {% csrf_token %}
        <div class="form-group col-md-12">
            <input class="btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
        </div>
    </div>
</form>

{% endblock %} 

<!-- Supporting Scripts for stripe-->
{% block custom_scripts %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}
